extends layout

block content
    .page-header: h1 Server Consoles
    script(src='/socket.io/socket.io.js')
    script(src='#{settings.uri}js/console.js')

    ul.nav.nav-tabs#tabs
        each name, id in servers
            if id === tab
                li.active: a(href='#console#{id}', data-toggle="tab") #{name}
            else
                li: a(href='#console#{id}', data-toggle="tab") #{name}

    div.tab-content
        each name, id in servers
            if id === tab
                pre(id="console#{id}").console.tab-pane.active
            else
                pre(id="console#{id}").console.tab-pane

    a.btn(href="#{settings.uri}trains/servers") Back to Server List