doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='#{settings.uri}css/bootstrap.min.css')
    link(rel='stylesheet', href='#{settings.uri}css/style.css')
  body

    .navbar: .navbar-inner
        a.brand(href='/') OpenTTD Server Monitor

    .container
        block content
    script(src='http://code.jquery.com/jquery.js')
    script(src='#{settings.uri}js/lib/bootstrap.min.js')
    script(data-main='#{settings.uri}js/client.js', src='#{settings.uri}js/lib/require.js')
    script.
        var action = '#{settings.action}';