extends layout

block content
    .page-header: h1 Running Server Instances
    table.table.table-bordered
        thead: tr
            th Server Name
            th Server Actions
        tbody
            each server, id in servers
                tr
                    td #{server.name}
                    td
                        .row-fluid
                            a.btn.span2(href="#{settings.uri}trains/console/#{id}/") Console
                            a.btn.span2(href="#{settings.uri}trains/statistics/#{id}/") Stats
                            a.btn.btn-warning.span2.offset4(href="#{settings.uri}trains/restart/#{id}/") Restart
                            a.btn.btn-danger.span2(href="#{settings.uri}trains/kill/#{id}/") Kill
    a.btn.btn-success(href="#{settings.uri}trains/spawn") Spawn New Server