extends layout

block content
    .page-header: h1 Running Server Instances
    table.table.table-bordered
        thead: tr
            th Server Name
            th Server Actions
        tbody
            each server, id in servers
                tr
                    td #{server.name}
                    td
                        .row-fluid
                            a.btn.span4 View Console
                            a.btn.btn-warning.span4(href="#{settings.uri}trains/restart/#{id}/") Restart Game
                            a.btn.btn-danger.span4(href="#{settings.uri}trains/kill/#{id}/") Kill Server
    a.btn.btn-success(href="#{settings.uri}trains/spawn") Spawn New Server